.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 10;
  animation: overlay-fade-in 0.3s ease-out;
}

.modal {
    position: relative;
    background-color: #fff;
    height: auto;
    width: 100rem;
    padding: 0;
    overflow: hidden;
    border-radius: 2.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    animation: modal-pop-in 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes overlay-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modal-pop-in {
  from {
    opacity: 0;
    transform: scale(0.7);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.close {
  color: #aaa;
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  z-index: 100;
}
